# Project Settings
PROJECT_DIRECTORY=%s
PROJECT_NAME=%s

# PHP
PHP_VERSION=%s
PHP_PORT=%s
VITE_PORT=%s

# Nginx
SERVER_PORT=%s

# Database
DATABASE_PORT=%s
ROOT_PASSWORD=%s

# Mailcatcher
MAILCATCHER_SMTP_PORT=%s
MAILCATCHER_WEB_PORT=%s